<footer class="footer">
    <div class="section-wraper">
        {% block footer_content %}

            <div class="column-4">
                {% block footer_lang %}
                    {% snippet "snippets/language_selector.html" %}
                {% endblock %}
            </div>
            <div class="column-4"></div>
            <div class="column-4">
                {% block footer_nav %}
                    {% block footer_links %}
                        <a href="{{ h.url_for(controller='home', action='about') }}"><li>{{ _('About {0}').format(g.site_title) }}</li></a>
                    {% endblock %}

                    {% block footer_links_ckan %}
                        {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                        <a href="{{ api_url }}"><li>{{ _('CKAN API') }}</li></a>
                        <a href="http://www.ckan.org/"><li>{{ _('CKAN Association') }}</li></a>
                        <a href="http://www.opendefinition.org/okd/"><li><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></li></a>
                    {% endblock %}
                {% endblock %}
            </div>
            <div class="column-4">
                {% block footer_attribution %}
                    <span>{{ _('Powered by') }} <a class="hide-text ckan-footer-logo" href="http://ckan.org"><img src="/images/img-CKAN-Logo.png" alt="CKAN"></a></span>
                {% endblock %}

            </div>
        {% endblock %}
    </div>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</footer>

