{% extends "base.html" %}

{%- block page -%}

    {% block skip %}
        <div class="hide"><a href="#content">{{ _('Skip to content') }}</a></div>
    {% endblock %}

    {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
    {%- block header %}
        {% snippet "header.html", header_type=header_type%}
    {% endblock -%}

    {# The content block allows you to replace the content of the page if needed #}
    {%- block content %}
        {% block maintag %}<main class="main-content">{% endblock %}
    {% block main_content %}
        {% block flash %}
            <div class="flash-messages">
                {% block flash_inner %}
                    {% for message in h.flash.pop_messages() | list %}
                        <div class="alert alert-warning fade in {{ message.category }}">
                            {{ h.literal(message) }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}

        {% if not (self.secondary()|trim == '' or c.action=='resource_read') %}
            <div class="{% block wrapper_class %}{% endblock %}">
        {% endif %}
    <div class="section-wraper">
        {% block all_section_wraper %}
            {#
            The pre_primary block can be used to add content to before the
            rendering of the main content columns of the page.
            #}
            {% block pre_primary %}{% endblock %}


            {% block primary_and_secondary %}
                {% block primary %}

                    {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}

                #}
                    <div class="column-left">
                        {% if not (self.secondary()|trim == '' or c.action=='resource_read') %}

                            {% block toolbar %}
                                {% block breadcrumb %}
                                    {% if self.breadcrumb_content() | trim %}

                                        <div class="bread-crumbs">
                                            {% snippet 'snippets/home_breadcrumb_item.html' %}
                                            {% block breadcrumb_content %}{% endblock %}
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}
                        {% endif %}
                        {% block primary_content %}
                            {% if self.content_action() | trim %}
                                <div class="content_action">
                                    {% block content_action %}{% endblock %}
                                </div>
                            {% endif %}
                            {% block pre_primary_header %}{% endblock %}
                            <div class="custom-tab-wraper">
                                {% block page_header %}
                                    <div class="custom-tab-header">
                                        {% block content_primary_nav %}{% endblock %}
                                    </div>







                                {% endblock %}
                                <div class="custom-tab-content">
                                    {% if self.page_primary_action() | trim %}
                                        <div class="page_primary_action">
                                            {% block page_primary_action %}{% endblock %}
                                        </div>
                                    {% endif %}
                                    <div class="custom-tab-content-item custom-tab-content-item-active">
                                        {% block primary_content_inner %}{% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        <div class="dataset-page-small-description">Відповідно до Закону України «Про доступ до публічної інформації» публічна інформація у формі відкритих даних (відкриті дані) оприлюднюється для вільного та безоплатного доступу до неї. Відкриті дані дозволені для їх подальшого вільного використання та поширення.<br><br>Будь-яка особа може вільно копіювати, публікувати, поширювати, використовувати, зокрема в комерційних цілях, у поєднанні з іншою інформацією або шляхом включення до складу власного продукту відкриті дані з обов’язковим посиланням на джерело їх отримання.<br><br>Умовою будь-якого подальшого використання відкритих даних є обов’язкове посилання на джерело їх отримання (у тому числі гіперпосилання на веб-сторінку відкритих даних розпорядника інформації).</div>

                    </div>
                {% endblock %}
                {% block secondary %}
                    <div class="column-right">
                        {#
                The secondary_content block can be used to add content to the
                sidebar of the page. This is the main block that is likely to be
                used within a template.

                Example:

                  {% block secondary_content %}
                    <h2>A sidebar item</h2>
                    <p>Some content for the item</p>
                  {% endblock %}
                #}
                        {% block secondary_content %}{% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}

        {% endblock %}
    </div>
    {% if not (self.secondary()|trim == '' or c.action=='resource_read') %}
        </div>
    {% endif %}
    {% endblock %}


    </main>
    {% endblock -%}

    {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
    {%- block footer %}
        {% include "footer.html" %}
    {% endblock -%}
{%- endblock -%}

{%- block scripts %}
    {% resource 'base/main' %}
    {% resource 'base/ckan' %}
    {% if g.tracking_enabled %}
        {% resource 'base/tracking.js' %}
    {% endif %}
    {{ super() }}
{% endblock -%}
