{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
    {% if pkg %}
        {% block package_info_inner %}
            {#            {% block heading %}#}
            {#                <h1 class="heading">{{ h.dataset_display_name(pkg) }}</h1>#}
            {#            {% endblock %}#}

            <div class="authorization-right">
                {% block nums %}
                    {% set num_followers = h.follow_count('dataset', pkg.id) %}
                    <div class="subscribers">
                        {{ _('Followers') }}: <span data-module="followers-counter" data-module-id="{{ pkg.id }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(num_followers) }}</span>
                    </div>
                {% endblock %}
                {% block follow_button %}
                    {% if not hide_follow_button %}
                        {% if c.user %}
                            {{ h.follow_button('dataset', pkg.id) }}
                        {% else %}
                            <div class="authorization-content">
                                <a href="{{ h.url_for('login', came_from=h.full_current_url()) }}">{{ _('Log in') }}</a>, щоб мати змогу стежити за змінами цього набору даних
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}

            </div>
            {#                <div class="nums">#}
            {#                    <dl>#}
            {#                        <dt>{{ _('Followers') }}</dt>#}
            {#                        <dd data-module="followers-counter" data-module-id="{{ pkg.id }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(num_followers) }}</dd>#}
            {#                    </dl>#}
            {#                </div>#}

        {% endblock %}
    {% endif %}
{% endblock %}
