{% set action = 'edit_view' if is_edit else 'resource_read' %}

{% if current_filters %}
    {% set url = h.url_for(controller='package', action=action, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id,
                         filters=current_filters) %}
{% else %}
    {% set url = h.url_for(controller='package', action=action, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id) %}
{% endif %}

<li class="{% if is_selected %} active{% endif %}" data-id="{{ view.id }}">

    <a href="{{ url }}" data-id="{{ view.id }}" class="custom-tab-header-item-list">
        <div class="custom-tab-header-item-icon">
            <img src="/images/icn-{{ h.resource_view_icon(view) }}.svg" alt="{{ view.title }}">
        </div>
        <div class="custom-tab-header-item-title">{{ view.title }}</div>
    </a>
</li>
