{#
Displays a sidebard module with navigation containing the provided resources.
If no resources are provided then the module will not be displayed.

pkg       - The package dict that owns the resources.
active    - The id of the currently displayed resource.
action    - The controller action to use (default: 'resource_read').

Example:

  {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}

#}
{% set resources = pkg.resources or [] %}
{% if resources %}
    {% block resources %}
        <div class="other-data-sets">
            {% block resources_inner %}
                {% block resources_title %}
                    <div class="other-data-sets-title">{{ _("Resources") }}{#Інші ресурси з цього набору даних#}</div>
                    {#                    <h2 class="module-heading"><i class="fa fa-files-o"></i> {{ _("Resources") }}</h2>#}
                {% endblock %}
                {% block resources_list %}
                    {#                    <ul class="list-unstyled nav nav-simple">#}
                    {% for resource in resources %}
                        {% if active != resource.id %}

                            <div class="truncated-data-resources">
                                <div class="truncated-data-resources-icon">
                                    <img src="/images/label-file-xls.png"alt="">
                                </div>
                                <a class="truncated-data-resources-title" href="{{ h.url_for(controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id) }}">{{ h.resource_display_name(resource)|truncate(25) }}</a>
                                {% if resource.description %}
                                    <div class="truncated-data-resources-description">
                                        {{ h.markdown_extract(h.get_translated(resource, 'description'), extract_length=80) }}
                                    </div>
                                {% endif %}
                            </div>
                            {#                        <li class="nav-item{{ ' active' if active == resource.id }}">#}
                            {#                            {% link_for h.resource_display_name(resource)|truncate(25), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}#}
                            {#                        </li>#}

                        {% endif %}
                    {% endfor %}
                    {#                    </ul>#}
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}
