{% set action = 'edit_view' if is_edit else 'resource_read' %}

{% if current_filters %}
    {% set url = h.url_for(controller='package', action=action, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id,
                         filters=current_filters) %}
{% else %}
    {% set url = h.url_for(controller='package', action=action, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id) %}
{% endif %}



<a class="custom-tab-header-item{% if is_selected %} custom-tab-header-item-active"{% endif %}
   href="{{ url }}" data-id="{{ view.id }}">
    <div class="custom-tab-header-item-icon">
        <img src="/images/icn-{{ h.resource_view_icon(view) }}.svg" alt="{{ view.title }}">
    </div>
    <div class="custom-tab-header-item-title">{{ view.title }}</div>
</a>
