{% set has_more_length = g.activity_list_limit|int %}
{% set has_more = activities|length > has_more_length %}

{% block activity_stream %}
    {% if activities %}
        <div class="activity-string-list">
            {% block activity_stream_inner %}
                {% for activity in activities %}
                    {% snippet 'snippets/activity_item.html', activity=activity %}
                {% endfor %}
            {% endblock %}
        </div>
    {% else %}
        {% block activity_stream_empty %}
            <div class="activity-string-list">
                <p class="empty">{{ _('No activities are within this activity stream') }}</p>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
