{% set pkgs = h.recently_changed_packages_main() %}

<div class="latest-updates">
    <div class="latest-updates-title">Останні оновлення</div>
    <div class="text-mode">
        <div class="text-mode__title">Тестовий режим</div>
        <div class="text-mode__content">Даний ресурс знаходиться на стадії розробки, функціонал окремих елементів може бути обмежений</div><a class="text-mode__linc" href="#">Зрозуміло, сховати</a>
    </div>
</div>
{% for pkg in pkgs %}
    {% snippet 'home/snippets/activity_item.html', pkg=pkg %}
{% endfor %}
