{% block header_wrapper %}
    <div class="header">
        <div class="section-wraper">
            <div class="top-header top-header__main-page">
                {% block header_logo %}
                    <div class="logo-header">
                        <a href="{{ h.url_for('home.index') }}">
                            {% if g.site_logo %}
                                <div class="logo_img">
                                    <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
                                         title="{{ g.site_title }}"/>
                                </div>
                            {% endif %}
                            <div class="title">{{ g.site_title }}</div>
                            <div class="sub_title">{{ g.site_description }}</div>
                        </a>
                    </div>
                {% endblock %}
                {% block header_site_search %}{% endblock %}
                {% block header_account %}
                    <div class="header-buttons">
                        {% block header_account_container_content %}
                            {% if c.userobj %}
                                <a class="profile-name" href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                                    <div class="profile-name__ava">{{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=24) }}</div>{{ c.userobj.display_name }}
                                </a>
                                <div class="open-profile-popup"></div>
                                <div class="profile-popup" {#data-module="me" data-me="{{ c.userobj.id }}"#}>
                                    {% block header_account_logged %}
                                        <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="profile-popup__item profile-link"
                                           title="{{ _('View profile') }}">
                                            <img src="/images/icn-profile.svg" alt="{{ _('View profile') }}">{{ _('Profile') }}
                                        </a>
                                        {% block header_account_sysadmin_link %}
                                            {% if c.userobj.sysadmin %}
                                                <a href="{{ h.url_for(controller='admin', action='index') }}" class="profile-popup__item"
                                                   title="{{ _('Sysadmin settings') }}">
                                                    <img src="/images/icn-crown.svg" alt="{{ _('Sysadmin settings') }}">{{ _('Admin') }}
                                                </a>
                                            {% endif %}
                                        {% endblock %}

                                        {% set new_activities = h.new_activities() %}
                                        {#                                        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">#}
                                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                        <a href="{{ h.url_for('dashboard.index') }}" class="profile-popup__item"
                                           title="{{ notifications_tooltip }}">
                                            <img src="/images/icn-dashboard.svg" alt="{{ notifications_tooltip }}">{{ _('Dashboard') }}
                                            {% if new_activities > 0 %}<span class="badge">{{ new_activities }}</span>{% endif %}
                                        </a>
                                        {#                                        </li>#}
                                        {% block header_account_settings_link %}
                                            <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" class="profile-popup__item"
                                               title="{{ _('Edit settings') }}">
                                                <img src="/images/icn-cogwheel.svg" alt="{{ _('Edit settings') }}">{{ _('Settings') }}
                                            </a>
                                        {% endblock %}
                                        {% block header_account_log_out_link %}
                                            <a href="{{ h.url_for('/user/_logout') }}" class="profile-popup__item"
                                               title="{{ _('Log out') }}">
                                                <img src="/images/icn-out.svg" alt="{{ _('Log out') }}">{{ _('Log out') }}
                                            </a>
                                        {% endblock %}
                                    {% endblock %}
                                    <div class="profile-popup-close"></div>
                                </div>
                            {% else %}
                                {% block header_account_notlogged %}
                                    {% link_for _('Log in'), named_route='user.login', class_='login-link' %}
                                    {% if h.check_access('user_create') %}
                                        <span>або</span>{% link_for _('Register'), named_route='user.register', class_='registration-button' %}
                                    {% endif %}
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}




                <div class="header-buttons"><a class="login-link" href="">Увійти</a><span>або</span><a class="registration-button" href="#">Зарєструватися</a></div>
            </div>
            {% block header_site_navigation %}
                <div class="main-menu">
                    {% block header_site_navigation_tabs %}
                        {{ h.build_main(('search', _('Datasets')), ('organizations_index', _('Organizations')), ('group_index', _('Groups')), ('home.about', _('About'))) }}
                    {% endblock %}
                </div>
            {% endblock %}

        </div>
    </div>
    </div>
    {#    <header class="navbar navbar-static-top masthead">#}
    {#        {% block header_debug %} {% if g.debug and not g.debug_supress_header %}#}
    {#            <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>#}
    {#        {% endif %} {% endblock %}#}
    {#        <div class="container">#}
    {#            <div class="navbar-right">#}
    {#                <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed"#}
    {#                        type="button">#}
    {#                    <span class="fa fa-bars"></span>#}
    {#                </button>#}
    {#            </div>#}
    {#            <hgroup class="{{ g.header_class }} navbar-left">#}
    {##}
    {#            </hgroup>#}
    {##}
    {#            <div class="collapse navbar-collapse" id="main-navigation-toggle">#}
    {#                {% block header_site_navigation %}#}
    {#                    <nav class="section navigation">#}
    {#                        <ul class="nav nav-pills">#}
    {#                            {% block header_site_navigation_tabs %} {{ h.build_main (('search', _('Datasets'))) }}{{ h.build_nav_main( ('search', _('Datasets')), ('organizations_index', _('Organizations')),#}
    {#          ('group_index', _('Groups')), ('home.about', _('About')) ) }} {% endblock %}#}
    {#                        </ul>#}
    {#                    </nav>#}
    {#                {% endblock %}#}
    {#                {% block header_site_search %}#}
    {#                    <form class="section site-search simple-input"#}
    {#                          action="{% url_for controller='package', action='search' %}" method="get">#}
    {#                        <div class="field">#}
    {#                            <label for="field-sitewide-search">#}
    {#                                {% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>#}
    {#                            <input id="field-sitewide-search" type="text" class="form-control" name="q"#}
    {#                                   placeholder="{{ _('Search') }}"/>#}
    {#                            <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                {% endblock %}#}
    {#            </div>#}
    {#        </div>#}
    {#    </header>#}
{% endblock %}
