{% extends 'package/base.html' %}

{% set pkg = c.pkg_dict %}
{% set pkg_dict = c.pkg_dict %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if pkg %}
    {% link_for _('Edit'), controller='package', action='edit', id=pkg.name %}
  {% endif %}
{% endblock %}

{% block content_action %}
  {% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn btn-default', icon='eye' %}
{% endblock %}

{% block content_primary_nav %}
    {% snippet 'snippets/tab_item.html', tab_url=h.get_tab_link('dataset_edit', id=pkg.name), tab_title= _('Edit metadata'), tab_icon='/images/icn-dataset_1.svg' %}
    {% snippet 'snippets/tab_item.html', tab_url=h.get_tab_link('dataset_resources', id=pkg.name), tab_title= _('Resources'), tab_icon='/images/icn-dataset_1.svg' %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'package/snippets/info.html', pkg=pkg, hide_follow_button=true %}
{% endblock %}
