{% extends "package/base.html" %}

{% set res = c.resource %}

{% block head_extras -%}
    {{ super() }}
    {% set description = h.markdown_extract(h.get_translated(res, 'description'), extract_length=200) if res.description else h.markdown_extract(h.get_translated(c.package, 'notes'), extract_length=200) %}
    <meta property="og:title" content="{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }} - {{ g.site_title }}">
    <meta property="og:description" content="{{ description|forceescape }}">
{% endblock -%}

{% block subtitle %}{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
    {{ super() }}
    <a href="">{{ h.resource_display_name(res)|truncate(30) }}</a>
{% endblock %}
{% block all_section_wraper %}
    <div class="column-full">
        {% block toolbar %}
            {{ super() }}
        {% endblock %}
        {{ super() }}
    </div>
{% endblock %}
{% block primary_and_secondary %}
    <div class="data-dictionary-wrap">
        {{ super() }}
    </div>
{% endblock %}


{% block pre_primary %}
    {% block resource %}
        {% block resource_inner %}

            {% block resource_content %}
                {% block resource_read_title %}
                    <div class="data-resource-title">Ресурс даних</div>
                    <div class="dataset-title">{{ h.resource_display_name(res) | truncate(50) }}</div>
                {% endblock %}
                {% block resource_read_decision %}
                    {% if res.description %}
                        <div class="dataset-decision">
                            {{ h.render_markdown(res.description) }}
                        </div>
                    {% endif %}
                    {% if not res.description and c.package.notes %}
                        <div class="dataset-decision">
                            <h3>{{ _('From the dataset abstract') }}</h3>
                            <blockquote>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</blockquote>
                            <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}</p>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block resource_read_url %}
                    {% if res.url and h.is_url(res.url) %}
                        {#{{ _('URL:') }}#} <a class="data-resource-attached-link" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a>
                    {% elif res.url %}
                        <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
                    {% endif %}
                {% endblock %}
            {% endblock %}

            {% block resource_actions %}
                {#                <div class="button-wraper">#}
                {#                    <div class="btn-group">#}
                {#                        <a class="btn btn-primary resource-url-analytics resource-type-None" href="https://opendata.gov.ua/dataset/9ac0e20c-7911-462c-9df9-5a105b1367d9/resource/b84b305f-5b7f-4639-9739-9d2a0cf0ef84/download/-2018-.csv">#}
                {#                            <div class="icn-download-white"></div> Завантажити</a>#}
                {#                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>#}
                {#                        <ul class="dropdown-menu">#}
                {#                            <li><a href="/datastore/dump/b84b305f-5b7f-4639-9739-9d2a0cf0ef84?bom=True" target="_blank"><span>CSV</span></a>#}
                {#                                <a href="/datastore/dump/b84b305f-5b7f-4639-9739-9d2a0cf0ef84?bom=True&amp;format=tsv" target="_blank"><span>TSV</span></a>#}
                {#                                <a href="/datastore/dump/b84b305f-5b7f-4639-9739-9d2a0cf0ef84?format=json" target="_blank"><span>JSON</span></a>#}
                {#                                <a href="/datastore/dump/b84b305f-5b7f-4639-9739-9d2a0cf0ef84?format=xml" target="_blank"><span>XML</span></a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </div>#}
                {#                    <a class="button-api" href="#">API даних</a>#}
                {#                    <span>Поширити в соцмережах — <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a> та#}
                {#                    <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></span>#}
                {#                </div>#}
                <div class="button-wraper">
                    {% block resource_actions_inner %}
                        {% if res.url and h.is_url(res.url) %}
                            <div class="btn-group">
                                <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                                    {% if res.resource_type in ('listing', 'service') %}
                                        <i class="fa fa-eye"></i> {{ _('View') }}
                                    {% elif  res.resource_type == 'api' %}
                                        <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                                    {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
                                        <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                                    {% else %}
                                        <div class="icn-download-white"></div> {{ _('Download') }}
                                    {% endif %}
                                </a>
                                {% block download_resource_button %}
                                    {%if res.datastore_active %}
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}"
                                                   target="_blank"><span>CSV</span></a>
                                                <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}"
                                                   target="_blank"><span>TSV</span></a>
                                                <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}"
                                                   target="_blank"><span>JSON</span></a>
                                                <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}"
                                                   target="_blank"><span>XML</span></a>
                                            </li>
                                        </ul>
                                    {%endif%}
                                {% endblock %}

                            </div>
                            {% if h.check_access('package_update', {'id':pkg.id }) %}
                                <div class="btn-group">
                                    {% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                    <span class="social-links">Поширити в соцмережах — <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-lg fa-facebook-square"></i> Facebook</a> та
                        <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-lg fa-twitter-square"></i> Twitter</a></span>
                </div>
            {% endblock %}

            {% block data_preview %}
                {% block resource_view %}
                    <div class="custom-tab-wraper">
                        {% block resource_view_nav %}
                            {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                            {% snippet "package/snippets/resource_views_list.html", views=resource_views, pkg=pkg,
                        is_edit=false, view_id=current_resource_view['id'], resource_preview=resource_preview,
                        resource=c.resource, extra_class="nav-tabs nav-tabs-plain" %}
                        {% endblock %}
                        {% block resource_view_content %}
                            <div class="resource-view">
                                {% set resource_preview = h.resource_preview(c.resource, c.package) %}
                                {% set views_created = res.has_views or resource_preview %}
                                {% if views_created %}
                                    {% if resource_preview and not current_resource_view %}
                                        {{ h.resource_preview(c.resource, c.package) }}
                                    {% else %}
                                        {% for resource_view in resource_views %}
                                            {% if resource_view == current_resource_view %}
                                                {% snippet 'package/snippets/resource_view.html',
                                            resource_view=resource_view, resource=c.resource, package=c.package %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {# Views not created #}
                                    <div class="data-viewer-info">
                                        <p>{{ _("There are no views created for this resource yet.") }}</p>
                                        {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                                            <p class="text-muted">
                                                <i class="fa fa-info-circle"></i>
                                                {{ _("Not seeing the views you were expecting?")}}
                                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                                                    {{ _('Click here for more information.') }}</a>
                                            </p>
                                            <div id="data-view-info" class="collapse">
                                                <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                                                <ul>
                                                    <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                                                    <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                                                    <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}




{% block primary_content %}
    {% block resource_additional_information %}
        {% if res %}

            {% block resource_additional_information_inner %}
                <div class="additional-information-table-wraper module-content">
                    <div class="additional-information-table-title">{{ _('Additional Information') }}</div>
                    <div class="additional-information-table" data-module="table-toggle-more">
                        {#                            <thead>#}
                        {#                            <tr>#}
                        {#                                <th scope="col">{{ _('Field') }}</th>#}
                        {#                                <th scope="col">{{ _('Value') }}</th>#}
                        {#                            </tr>#}
                        {#                            </thead>#}

                        <div class="additional-information-table-row">
                            <div class="additional-information-table-item additional-information-table-item__grey">{{ _('Data last updated') }}</div>
                            <div class="additional-information-table-item">{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</div>
                        </div>
                        <div class="additional-information-table-row">
                            <div class="additional-information-table-item additional-information-table-item__grey">{{ _('Metadata last updated') }}</div>
                            <div class="additional-information-table-item">{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</div>
                        </div>
                        <div class="additional-information-table-row">
                            <div class="additional-information-table-item additional-information-table-item__grey">{{ _('Created') }}</div>
                            <div class="additional-information-table-item">{{ h.render_datetime(res.created) or _('unknown') }}</div>
                        </div>
                        <div class="additional-information-table-row">
                            <div class="additional-information-table-item additional-information-table-item__grey">{{ _('Format') }}</div>
                            <div class="additional-information-table-item">{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</div>
                        </div>
                        <div class="additional-information-table-row">
                            <div class="additional-information-table-item additional-information-table-item__grey">{{ _('License') }}</div>
                            <div class="additional-information-table-item">{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</div>
                        </div>
                        {% for key, value in h.format_resource_items(res.items()) %}
                            <div class="additional-information-table-row toggle-more">
                                <div class="additional-information-table-item additional-information-table-item__grey">{{ key }}</div>
                                <div class="additional-information-table-item">{{ value }}</div>
                            </div>
                        {% endfor %}
                        {% if res.items()|length > 0 %}
                            <div class="show-more-fields-link ">
                                <a class="show-more" href="">Показати більше полів</a>
                                <a class="show-less" href="">Показати меньше полів</a>
                            </div>
                        {% endif %}
                    </div>

                </div>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block secondary_content %}

    {% block resources_list %}
        {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
    {% endblock %}

    {% block package_organization %}
        {% if pkg.organization %}
            {% set org = h.get_organization(pkg.organization.name) %}
            {% snippet "package/snippets/organization.html", organization=org, has_context_title=true %}
        {% endif %}
    {% endblock %}



{#    {% block resource_license %}#}
{#        {% snippet "snippets/social.html" %}#}
{#    {% endblock %}#}
{% endblock %}

