.page_primary_action, .content_action {
  text-align: right;
  margin: 0 45px 12px 0; }

.custom-tab-wraper .custom-tab-content-item .page_primary_action, .custom-tab-wraper .custom-tab-content-item .content_action,
.custom-tab-wraper .custom-tab-content-item .dataset-catalog-page-vindata-file {
  margin: 0 0 12px 0; }
.custom-tab-wraper .custom-tab-content .page_primary_action {
  margin: 0 0 12px 0; }

.resource-item {
  border-radius: 0; }

.resource-list {
  margin: inherit; }

.custom-tab-wraper .custom-tab-header-item-list {
  color: #003094;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  top: 2px;
  margin-left: 20px; }
  .custom-tab-wraper .custom-tab-header-item-list .custom-tab-header-item-icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 24px;
    height: 24px; }

.group-subject img {
  width: 48px; }

.activity-string-item span.actor img.gravatar {
  display: none; }

.top-header .profile-popup {
  right: -20px;
  top: -20px; }

.resource-view {
  position: relative; }
  .resource-view .actions {
    top: 15px;
    right: 0; }

.column-right .other-data-sets .other-data-sets-title {
  padding: 0 45px 30px 20px; }

.social-links a {
  color: #003094;
  font-weight: 700; }

.organization-page .right-collumn-title {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  padding: 0 0 15px 45px;
  border-bottom: 1px solid #ddd; }

.catalog-filters-list {
  padding: 20px 45px 25px; }
  .catalog-filters-list:not(:last-child) {
    border-bottom: 1px solid #ddd; }
  .catalog-filters-list__title {
    color: #4A4A4A;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 20px; }
  .catalog-filters-list__item {
    display: block;
    color: #003094;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px; }
  .catalog-filters-list__count {
    display: inline-block;
    background: rgba(0, 48, 148, 0.1);
    font-size: 12px;
    margin-left: 10px;
    padding: 0 6px;
    line-height: 20px;
    border-radius: 20px;
    min-width: 20px;
    text-align: center; }
  .catalog-filters-list__show-more {
    border-bottom: #003094 1px dotted;
    color: #003094;
    display: inline-block;
    cursor: pointer; }

.dataset-catalog-page-vindata-file .document-link[data-format=html], .dataset-catalog-page-vindata-file .document-link[data-format*=html] {
  background-color: #55a1ce; }
.dataset-catalog-page-vindata-file .document-link[data-format=json], .dataset-catalog-page-vindata-file .document-link[data-format*=json] {
  background-color: #ef7100; }
.dataset-catalog-page-vindata-file .document-link[data-format=xml], .dataset-catalog-page-vindata-file .document-link[data-format*=xml] {
  background-color: #ef7100; }
.dataset-catalog-page-vindata-file .document-link[data-format=text], .dataset-catalog-page-vindata-file .document-link[data-format*=text] {
  background-color: #74cbec; }
.dataset-catalog-page-vindata-file .document-link[data-format=csv], .dataset-catalog-page-vindata-file .document-link[data-format*=csv] {
  background-color: #dfb100; }
.dataset-catalog-page-vindata-file .document-link[data-format=xls], .dataset-catalog-page-vindata-file .document-link[data-format*=xls] {
  background-color: #2db55d; }
.dataset-catalog-page-vindata-file .document-link[data-format=zip], .dataset-catalog-page-vindata-file .document-link[data-format*=zip] {
  background-color: #686868; }
.dataset-catalog-page-vindata-file .document-link[data-format=api], .dataset-catalog-page-vindata-file .document-link[data-format*=api] {
  background-color: #ec96be; }
.dataset-catalog-page-vindata-file .document-link[data-format=pdf], .dataset-catalog-page-vindata-file .document-link[data-format*=pdf] {
  background-color: #e0051e; }
.dataset-catalog-page-vindata-file .document-link[data-format=rdf], .dataset-catalog-page-vindata-file .document-link[data-format*=rdf], .dataset-catalog-page-vindata-file .document-link[data-format*=nquad], .dataset-catalog-page-vindata-file .document-link[data-format*=ntriples], .dataset-catalog-page-vindata-file .document-link[data-format*=turtle] {
  background-color: #0b4498; }

/*# sourceMappingURL=styles.css.map */
