.page_primary_action, .content_action {
  text-align: right;
  margin: 0 45px 12px 0; }

.custom-tab-wraper .custom-tab-content-item .page_primary_action, .custom-tab-wraper .custom-tab-content-item .content_action,
.custom-tab-wraper .custom-tab-content-item .dataset-catalog-page-vindata-file {
  margin: 0 0 12px 0; }
.custom-tab-wraper .custom-tab-content {
  margin-bottom: 40px; }
  .custom-tab-wraper .custom-tab-content .page_primary_action {
    margin: 0 0 12px 0; }
.custom-tab-wraper .custom-tab-header li {
  list-style-type: none;
  font-size: 18px;
  height: 42px; }
  .custom-tab-wraper .custom-tab-header li a {
    color: #003094;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
    margin-right: 40px; }
  .custom-tab-wraper .custom-tab-header li.active a {
    border-bottom: 4px solid #003094; }

.resource-item {
  border-radius: 0; }

.resource-list {
  margin: inherit; }

.custom-tab-wraper .custom-tab-header-item-list {
  color: #003094;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 40px;
  top: 2px;
  margin-left: 20px; }
  .custom-tab-wraper .custom-tab-header-item-list .custom-tab-header-item-icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 24px;
    height: 24px; }

.group-subject img {
  width: 48px; }

.activity-string-item span.actor img.gravatar {
  display: none; }

.top-header .profile-popup {
  right: -20px;
  top: -20px; }

.resource-view {
  position: relative; }
  .resource-view .actions {
    top: 15px;
    right: 0; }

.column-right .other-data-sets .other-data-sets-title {
  padding: 0 45px 30px 20px; }

.social-links a {
  color: #003094;
  font-weight: 700; }

.organization-page .right-collumn-title {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  padding: 0 0 15px 45px;
  border-bottom: 1px solid #ddd; }

.catalog-filters-list {
  padding: 20px 45px 25px; }
  .catalog-filters-list:not(:last-child) {
    border-bottom: 1px solid #ddd; }
  .catalog-filters-list__title {
    color: #4A4A4A;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 20px; }
  .catalog-filters-list__item {
    display: block;
    color: #003094;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px; }
  .catalog-filters-list__count {
    display: inline-block;
    background: rgba(0, 48, 148, 0.1);
    font-size: 12px;
    margin-left: 10px;
    padding: 0 6px;
    line-height: 20px;
    border-radius: 20px;
    min-width: 20px;
    text-align: center; }
  .catalog-filters-list__show-more {
    border-bottom: #003094 1px dotted;
    color: #003094;
    display: inline-block;
    cursor: pointer; }

.dataset-catalog-page-vindata-file .document-link, .truncated-data-resources .document-link {
  background-color: #737273; }
  .dataset-catalog-page-vindata-file .document-link[data-format=html], .dataset-catalog-page-vindata-file .document-link[data-format*=html], .truncated-data-resources .document-link[data-format=html], .truncated-data-resources .document-link[data-format*=html] {
    background-color: #55a1ce; }
  .dataset-catalog-page-vindata-file .document-link[data-format=json], .dataset-catalog-page-vindata-file .document-link[data-format*=json], .truncated-data-resources .document-link[data-format=json], .truncated-data-resources .document-link[data-format*=json] {
    background-color: #ef7100; }
  .dataset-catalog-page-vindata-file .document-link[data-format=xml], .dataset-catalog-page-vindata-file .document-link[data-format*=xml], .truncated-data-resources .document-link[data-format=xml], .truncated-data-resources .document-link[data-format*=xml] {
    background-color: #ef7100; }
  .dataset-catalog-page-vindata-file .document-link[data-format=text], .dataset-catalog-page-vindata-file .document-link[data-format*=text], .truncated-data-resources .document-link[data-format=text], .truncated-data-resources .document-link[data-format*=text] {
    background-color: #74cbec; }
  .dataset-catalog-page-vindata-file .document-link[data-format=csv], .dataset-catalog-page-vindata-file .document-link[data-format*=csv], .truncated-data-resources .document-link[data-format=csv], .truncated-data-resources .document-link[data-format*=csv] {
    background-color: #dfb100; }
  .dataset-catalog-page-vindata-file .document-link[data-format=xls], .dataset-catalog-page-vindata-file .document-link[data-format*=xls], .truncated-data-resources .document-link[data-format=xls], .truncated-data-resources .document-link[data-format*=xls] {
    background-color: #2db55d; }
  .dataset-catalog-page-vindata-file .document-link[data-format=zip], .dataset-catalog-page-vindata-file .document-link[data-format*=zip], .truncated-data-resources .document-link[data-format=zip], .truncated-data-resources .document-link[data-format*=zip] {
    background-color: #686868; }
  .dataset-catalog-page-vindata-file .document-link[data-format=api], .dataset-catalog-page-vindata-file .document-link[data-format*=api], .truncated-data-resources .document-link[data-format=api], .truncated-data-resources .document-link[data-format*=api] {
    background-color: #ec96be; }
  .dataset-catalog-page-vindata-file .document-link[data-format=pdf], .dataset-catalog-page-vindata-file .document-link[data-format*=pdf], .truncated-data-resources .document-link[data-format=pdf], .truncated-data-resources .document-link[data-format*=pdf] {
    background-color: #e0051e; }
  .dataset-catalog-page-vindata-file .document-link[data-format=rdf], .dataset-catalog-page-vindata-file .document-link[data-format*=rdf], .dataset-catalog-page-vindata-file .document-link[data-format*=nquad], .dataset-catalog-page-vindata-file .document-link[data-format*=ntriples], .dataset-catalog-page-vindata-file .document-link[data-format*=turtle], .truncated-data-resources .document-link[data-format=rdf], .truncated-data-resources .document-link[data-format*=rdf], .truncated-data-resources .document-link[data-format*=nquad], .truncated-data-resources .document-link[data-format*=ntriples], .truncated-data-resources .document-link[data-format*=turtle] {
    background-color: #0b4498; }

.blog-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d5deed; }
  .blog-item .blog-title a {
    line-height: 24px;
    display: block; }
  .blog-item .blog-date {
    color: #656565;
    margin-bottom: 5px;
    font-size: 88%;
    line-height: 24px; }

.module-content .pagination.pagination-centered {
  display: block;
  margin: 0; }

.editor-content span.muted {
  color: #767676; }
.editor-content > * {
  margin-bottom: 22px; }
.editor-content p {
  font-size: 100%;
  font-family: "ProbaProRegular", "SourceSansPro";
  color: #1D1D1B;
  line-height: 22px;
  word-wrap: break-word; }
.editor-content h2, .editor-content h3, .editor-content h4, .editor-content h5 {
  color: #1D1D1B;
  font-family: "ProbaProBold", "SourceSansProBold"; }
.editor-content h2 {
  font-size: 1.5rem; }
.editor-content h3 {
  font-size: 1.25rem;
  margin-top: 40px;
  margin-bottom: 10px; }
.editor-content table thead tr {
  vertical-align: top;
  border-bottom: 1px solid #e6e9eb; }
  .editor-content table thead tr th {
    color: #1D1D1B;
    font-size: 1.125rem;
    padding: 10px 20px; }
.editor-content table tbody tr {
  vertical-align: top; }
  .editor-content table tbody tr td {
    padding: 10px 20px; }
    .editor-content table tbody tr td > * {
      margin-bottom: 15px; }
      .editor-content table tbody tr td > *:last-child {
        margin-bottom: 0; }
  .editor-content table tbody tr:nth-child(even) {
    background-color: #f4f7fa; }
  .editor-content table tbody tr:nth-child(odd) {
    background-color: inherit; }
.editor-content pre {
  display: inline-block;
  font-size: 100%;
  font-family: "ProbaProRegular", "SourceSansPro";
  color: #1D1D1B;
  line-height: 24px;
  border: 0;
  background-color: transparent; }
  .editor-content pre:first-child {
    float: left;
    margin-bottom: 0; }
    @media screen and (max-width: 768px) {
      .editor-content pre:first-child {
        float: none;
        display: block;
        text-align: left; } }
  .editor-content pre:last-child {
    float: right;
    text-transform: uppercase;
    margin-right: 70px;
    margin-bottom: 0; }
    @media screen and (max-width: 991px) {
      .editor-content pre:last-child {
        margin-right: 0; } }
    @media screen and (max-width: 768px) {
      .editor-content pre:last-child {
        float: none;
        display: block;
        text-align: left; } }
  .editor-content pre:after {
    content: "";
    clear: both;
    display: table;
    height: 0; }
.editor-content .MsoNormal * {
  font-size: 16px; }
.editor-content div p {
  margin-bottom: 10px; }
.editor-content img {
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .editor-content img {
      width: 100%; } }
.editor-content > span {
  display: inline-block;
  color: #A0A0A0;
  font-size: 0.8125rem;
  font-family: "ProbaProRegular", "SourceSansPro";
  margin-bottom: 20px; }
.editor-content blockquote {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e9eb;
  border-bottom: 1px solid #e6e9eb;
  font-size: 1.5rem;
  color: #1D1D1B;
  font-family: "ProbaProBold", "SourceSansProBold";
  line-height: 30px;
  margin-bottom: 32px; }
  .editor-content blockquote p {
    color: #a7a9af;
    font-style: italic;
    margin-top: 14px;
    font-size: 87%;
    font-family: "ProbaProRegular", "SourceSansPro"; }
.editor-content ul {
  list-style-type: none;
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px; }
  .editor-content ul > li {
    padding-left: 35px;
    margin-bottom: 15px;
    position: relative;
    line-height: 22px; }
    .editor-content ul > li::before {
      position: absolute;
      content: "";
      left: 7px;
      top: 9px;
      height: 5px;
      width: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #ADC9EA; }
.editor-content ol {
  padding-left: 0;
  list-style-type: none;
  position: relative;
  margin-bottom: 2em;
  margin-top: 15px;
  counter-reset: num; }
  .editor-content ol > li {
    margin-bottom: 15px;
    padding-left: 30px;
    line-height: 22px;
    position: relative; }
    .editor-content ol > li::before {
      content: counter(num) ".";
      counter-increment: num;
      color: #a9b7d5;
      left: 0;
      top: 0;
      position: absolute;
      font-family: "ProbaProBold", "SourceSansProBold";
      font-size: 0.875rem; }
.editor-content ul ul, .editor-content ol ul {
  padding-left: 60px; }
.editor-content ul ol, .editor-content ol ol {
  padding-left: 60px; }
  .editor-content ul ol:before, .editor-content ol ol:before {
    font-size: 95%; }
.editor-content .highlight {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 3px 4px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px; }

.dataset-page-small-description {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 45px;
  border-top: 1px solid #ddd; }

.pagination-wrapper {
  border: none;
  padding-top: 0; }
  .pagination-wrapper ul.pagination li.active a {
    height: 28px; }
  .pagination-wrapper ul.pagination li.disabled a {
    color: transparent; }

.data-resource-icon[data-format=html], .data-resource-icon[data-format*=html] {
  background: url(/images/file-html.png) no-repeat center; }
.data-resource-icon[data-format=json], .data-resource-icon[data-format*=json] {
  background: url(/images/file-json.png) no-repeat center; }
.data-resource-icon[data-format=xml], .data-resource-icon[data-format*=xml] {
  background: url(/images/file-xml.png) no-repeat center; }
.data-resource-icon[data-format=text], .data-resource-icon[data-format*=text] {
  background: url(/images/file-txt.png) no-repeat center; }
.data-resource-icon[data-format=csv], .data-resource-icon[data-format*=csv] {
  background: url(/images/file-csv.png) no-repeat center; }
.data-resource-icon[data-format=xls], .data-resource-icon[data-format*=xls] {
  background: url(/images/file-xls.png) no-repeat center; }
.data-resource-icon[data-format=zip], .data-resource-icon[data-format*=zip] {
  background: url(/images/file-zip.png) no-repeat center; }
.data-resource-icon[data-format=api], .data-resource-icon[data-format*=api] {
  background: url(/images/file-api.png) no-repeat center; }
.data-resource-icon[data-format=pdf], .data-resource-icon[data-format*=pdf] {
  background: url(/images/file-pdf.png) no-repeat center; }
.data-resource-icon[data-format=rdf], .data-resource-icon[data-format*=rdf] {
  background: url(/images/file-rdf.png) no-repeat center; }

.flash-messages {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }
  .flash-messages .alert {
    border-radius: 0;
    margin-bottom: 0; }

.media-grid .media-item {
  width: 225px; }
  .media-grid .media-item .media-image {
    margin: 0 auto 5px; }

.group-subject-wraper .subscribers a.edit {
  color: #4a4a4a; }
  .group-subject-wraper .subscribers a.edit:focus, .group-subject-wraper .subscribers a.edit:hover, .group-subject-wraper .subscribers a.edit:active, .group-subject-wraper .subscribers a.edit:visited {
    color: #4a4a4a; }
  .group-subject-wraper .subscribers a.edit:active, .group-subject-wraper .subscribers a.edit:visited {
    text-decoration: none; }
.group-subject-wraper p.empty {
  padding: 0 20px 20px; }

.column-8 {
  width: calc(50% - 10px); }

.column-8 li {
  list-style-type: none;
  color: #003094;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px; }

.column-8 span {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
